* {
    word-break:break-all;
    -webkit-tap-highlight-color:#00000000;
}
body {
    margin: 0;
	color: black;
    background-color: #F5F5F5;
}
a {
    text-decoration: none;
}
.button {
    transition: background-color 100ms;
}