#loading--area {
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes loading--circle--change-color {
    0% {
        background: #00CCFF;
    }
    25% {
        background: #00CCFF;
    }
    50% {
        background: #999999;
    }
    75% {
        background: #999999;
    }
    100% {
        background: #00CCFF;
    }
}
#loading {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 100%;
    animation: loading--circle--change-color 1s linear 0s infinite normal;
}
