div.top-bar {
    height: 4rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    background-color: #00CCFF;
}
.menu-button {
    line-height: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 4rem;
    float: left;
    color: white;
}
@media only screen and (min-width: 600px){
    .menu-button {
        display: none;
    }
}
.top-bar-logo {
    line-height: 4rem;
    float: left;
    color: white;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}
#menu {
    list-style: none;
    float: left;
    margin: 0;
    padding-left: 0;
}
@media only screen and (min-width: 600px) {
    #menu {
        padding-left: 4rem;
    }
}
#menu-out-bar {
    background-color: #FF000000;
    position: fixed;
    top: 4rem;
    bottom: 0rem;
    right: 100%;
    transition: right 0.5s;
}
@keyframes open-menu {
    from {bottom: 12rem;}
    to {bottom: 0;}
}
li.top-bar {
    width:100vw;
    background-color: #00CCFF;
}
@media only screen and (min-width: 600px) {
    li.top-bar {
        width: auto;
        float: left;
        margin: 0;
        display: block;
        background-color: #00000000;
    }
}
.top-bar-button {
    line-height: 4rem;
    display: block;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
a.top-bar-button:hover {
    background-color:#00BBEE;
}
a.top-bar-goto-codemao {
    line-height: 4rem;
    float: right;
    margin-right: 0.5rem;
    color:#FEC433;
}
ul.top-menu {
    top: 4rem;
}
