
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.head {
    width:100%;
    height: 4rem;
    background-color: #00ccff;
}
.head-logo {
    
    line-height: 4rem;
    height: 4rem;
    color: white;
    font-size: 2.5rem;
    height: 100%;
    margin-left: 0.5rem;
}
.head-goto-codemao {
    line-height: 4rem;
    height: 4rem;
    float: right;
    margin-right: 0.5rem;
}