div.top-bar {
    width:100%;
    height: 4rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    background-color: #00CCFF;
}
.top-bar-logo {
    height: 4rem;
    line-height: 4rem;
    color: white;
    float: left;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}
ul.top-bar {
    list-style: none;
    float: left;
    margin: 0;
}
li.top-bar {
    height: 4rem;
    float: left;
    margin: 0;
    display: block;
}
.top-bar-button {
    height: 4rem;
    line-height: 4rem;
    display: block;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
a.top-bar-button:hover {
    background-color:#00BBEE;
}
a.top-bar-goto-codemao {
    height: 4rem;
    line-height: 4rem;
    float: right;
    margin-right: 0.5rem;
    color:#FEC433;
}