* {
    text-align: center;
}
.icon {
    width: 50vw;
}
#glacier-center-right {
    width: 50vw;
    margin: auto;
}
#glacier-center-right-title {
    margin-bottom: 1rem;
    font-size: 10vw;
}
#join-in-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #00CCFF;
}
@media only screen and (min-width: 600px) {
    #glacier-center {
        height: 40vw;
    }
    .icon {
        width: 40%;
        margin-left: 10%;
        float: left;
    }
    #glacier-center-right {
        width: 40%;
        line-height: 14vw;
        float: left;
        margin-right: 10%;
        margin-top: 4vw;
    }
    #glacier-center-right-title {
        margin-bottom: 0;
    }
    #join-in-button {
        padding: 1rem;
        font-size: 2rem;
    }
}