* {
    
    text-align: center;
}
.icon {
    width: 50%;
}
#glacier-center-right {
    width: 50%;
    margin: auto;
}
#glacier-center-right-title {
    margin-bottom: 1rem;
    font-size: 10vw;
}
#join-in-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: #00CCFF;
}
#chose {
    margin-left: 5vw;
    margin-right: 5vw;
}
@media only screen and (min-width: 600px) {
    #glacier-center {
        height: 40vw;
    }
    .icon {
        width: 40%;
        margin-left: 10%;
        float: left;
    }
    #glacier-center-right {
        width: 40%;
        line-height: 14vw;
        float: left;
        margin-right: 10%;
        margin-top: 4vw;
    }
    #glacier-center-right-title {
        margin-bottom: 0;
        font-size: 8vw;
    }
    #join-in-button {
        padding: 1rem;
        font-size: 2rem;
    }
    #chose-title {
        margin-top: 0%;
    }
}