.board {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.board--card {
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-block;
    background-color: #FFF;
    border:0.1rem solid #00000022;
}
.board--card:hover {/* 
    box-shadow: 0px 0px 1rem #00000044;
    transform: scale(1.1); */
    border:0.1rem solid #00000055;
}
@media only screen and (min-width: 600px) {
    .board--title {
        margin-top: 0%;
    }
}
