.board {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.board--card {
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-block;
    background-color: #FFF;
    border: 0.1rem solid #00000022;
    cursor: pointer;
}
.board--card:hover {
    background-color: #EEE;
    border: 0.1rem solid #00000055;
}
@media only screen and (min-width: 600px) {
    .board--title {
        margin-top: 0%;
    }
}
