@keyframes center--animation {
    from {
        filter: drop-shadow(-0.5rem -0.5rem 0.5rem);
        filter: blur(0.5rem);
        opacity: 0;
    }
}
#center {
    animation: center--animation 1s;
    user-select: none;
}
#center--icon--area {
    display: flex;
    justify-content: center;
}
#center--icon {
    width: 50vw;
}
#center--right {
    text-align: center;
}
#center--right--title {
    font-size: 10vw;
}
#center--right--jion-in--button {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}
@media only screen and (min-width: 600px) {
    #center {
        display: flex;
    }
    #center--icon--area {
        width: 50%;
    }
    #center--icon {
        width: 100%;
    }
    #center--right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #center--right--title {
        font-size: 8vw;
    }
    #center--right--jion-in--area {
        margin-top: 0px;
        display: flex;
        justify-content: center;
    }
    #center--right--jion-in--button {
        font-size: 2.5rem;
        padding: 1rem;
    }
}
