#center--icon {
    width: 50%;
    margin-left: 25%;
}
#center--right {
    text-align: center;
}
#center--right--title {
    font-size: 10vw;
    color: white;
}
#center--right--jion-in--area {
    margin-top: 1.5rem;
}
#center--right--jion-in--button {
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    background: #00000022;
    box-shadow: 0px 0px 1rem #00000022;
    text-decoration: none;
    transition: all 0.5s;
}
#center--right--jion-in--button:hover {
    background: #00000044;
    box-shadow: 0px 0px 2rem #00000044;
}
@media only screen and (min-width: 600px) {
    #center {
        height: 40vw;
    }
    #center--icon--area {
        width: 50%;
        height: 1px;
        float: left;
    }
    #center--icon {
        width: 80%;
        margin-left: 10%;
        float: left;
    }
    #center--right {
        line-height: 20vw;
        height: 40vw;
        float: left;
    }
    #center--right--title {
        font-size: 8vw;
    }
    #center--right--jion-in--area {
        margin-top: 0px;
    }
    #center--right--jion-in--button {
        font-size: 2.5rem;
        padding: 1rem;
    }
}