#chose {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.chose--work {
    width: 16rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: inline-block;
    background: #FFFFFF44;
    transition: all 0.5s;
}
.chose--work:hover {
    box-shadow: 0px 0px 0.5rem #00000011;
    transform: scale(1.1);
}
.chose--work--cover {
    width: 16rem;
    height: 16rem;
    background-size: cover;
    background-position: center;
}
.chose--work--name {
    text-align: left;
    padding: 0.3rem 0.5rem;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.chose--work--author {
    width: 16rem;
    height: 3rem;
    text-align: left;
}
.chose--work--author--avatar {
    float: left;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 100%;
}
.chose--work--author--name {
    width: 12.5rem;
    line-height: 3rem;
    float: left;
    text-align: left;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 600px) {
    #chose--title {
        margin-top: 0%;
    }
}