.member {
    width: 22rem;
	padding: 1rem;
}

.member--avatar {
    float: left;
	width: 6rem;
	height: 6rem;
	margin-right: 1rem;
	border-radius: 100%;
}
.member--info {
    width: 15rem;
    float: left;
}
.member--name {
	text-align: left;
}
.member--introduction {
	text-align: left
}
.member--rep-work {
	text-align: left
}
.member--rep-work--link {
    color: blue;
}
.member--rep-work--link:hover {
	text-decoration: underline;
}
