.member {
	width: 14rem;
	padding: 1rem;
}
.member--avatar {
	width: 6rem;
	height: 6rem;
	margin-right: 1rem;
	border-radius: 100%;
}
.member--name {
	text-align: left;
}
.member--introduction {
	text-align: left
}
.member--rep-works {
	text-align: left
}
.member--rep-work {
    color: blue;
}
.member--rep-work:hover {
	text-decoration: underline;
}
@media only screen and (min-width: 600px) {
	.member {
		width: 22rem;
	}
	.member--avatar {
		float: left;
	}
	.member--info {
		float: left;
		width: 15rem;
	}
}
