.work {
    width: 16rem;
}
.work--cover {
    width: 16rem;
    height: 16rem;
    background-size: cover;
    background-position: center;
}
.work--name {
    padding: 0.3rem 0.5rem;
    color: black;
    text-align: left;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.work--author {
    display: flex;
}
.work--author--avatar {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 100%;
}
.work--author--name {
    max-width: 12.5rem;
    line-height: 3rem;
    color: black;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
